// place your custom styles here
a.header-anchor {

    // Override the default content to be a hash symbol
    &::before {
        content: '#';
        // You might also want to adjust spacing if the original 'P' had different dimensions
        margin-right: 1.25em; // Adjust as needed for spacing
        // Inherit text color for consistency
        color: inherit;
        line-height: 1em;
    }
}

// for slimsearch, disable buildin results::after

li.slimsearch-record-matches:has(.title-icon) {
    display: none;
}

div.slimsearch-record-title {
    font-size: 1.2rem;
}

// Figure for images
figure {
    margin: 0;
}